@using Model.EF;
@model List<MESSAGE>
@{
    ViewBag.Title = "Lời nhắn";
}

@section privateJS{
    <script src="~/Areas/Admin/Content/js/controllers/message-controller.js"></script>
}

<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="table-data__tool">
                <div class="table-data__tool-left">

                </div>
            </div>
            <div class="table-responsive table--no-card m-b-30">
                <table class="table table-borderless table-striped table-earning">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Người gửi</th>
                            <th>Email</th>
                            <th>Tiêu đề</th>
                            <th>Lời nhắn</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Id</td>
                                <td>@item.Name</td>
                                <td>@item.Email</td>
                                <td>@item.Title</td>
                                <td>@item.Message_Content</td>

                                <td>
                                    <a class="btn btn-link" href="@Url.Action("MessageDetail","Message",new { id=item.Id})">Chi tiết</a>
                                    |<button type="button" class="btn btn-link" data-toggle="modal" onclick="deleteMessage(@item.Id)">Xoá</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- modal delete -->
<div class="modal fade" id="deleteMessageModal" tabindex="-1" role="dialog" aria-labelledby="smallmodalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="smallmodalLabel">Xác nhận xoá</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    Bạn có chắc chắn muốn xoá không?
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Huỷ</button>
                <button type="button" class="btn btn-primary" id="confirmDeleteMessage">Xoá</button>
            </div>
        </div>
    </div>
</div>