@using Model.EF
@{
    ViewBag.Title = "Sản phẩm";
    var listCategory = (SelectList)ViewBag.ListCategory;
}
@model List<PRODUCT>

@section privateJS{
    <script src="~/Areas/Admin/Content/js/controllers/product-controller.js"></script>
}

<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="table-data__tool">
                <div class="table-data__tool-left">

                </div>
                <div class="table-data__tool-right">
                    <a href="@Url.Action("AddProduct","Product")" class="au-btn au-btn-icon au-btn--green au-btn--small">
                        <i class="zmdi zmdi-plus"></i>Tạo mới
                    </a>
                </div>
            </div>
            <div class="table-responsive table--no-card m-b-30">
                <table class="table table-borderless table-striped table-earning">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Tên sản phẩm</th>
                            <th>Đơn giá</th>
                            <th>Giảm giá</th>
                            <th>Tình trạng</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Id</td>
                                <td>@item.Name</td>
                                <td>@String.Format("{0:0,0}đ", item.Price)</td>
                                <td>@item.Discount_Amount%</td>
                                <td>@item.Status</td>
                                <td>
                                    <a class="btn btn-link" href="@Url.Action("ProductDetail","Product",new { id=item.Id, meta_name=item.Metadata})">Sửa</a>
                                    |<button type="button" class="btn btn-link" data-toggle="modal" onclick="deleteProduct(@item.Id)">Xoá</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>

<!-- modal delete -->
<div class="modal fade" id="deleteProductModal" tabindex="-1" role="dialog" aria-labelledby="smallmodalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="smallmodalLabel">Xác nhận xoá</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    Bạn có chắc chắn muốn xoá không?
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Huỷ</button>
                <button type="button" class="btn btn-primary" id="confirmDeleteProduct">Xoá</button>
            </div>
        </div>
    </div>
</div>