@model ShoeShop.Areas.Admin.Models.LoginModel

<div class="form-group">
	<label>Tên đăng nhập</label>
	@Html.TextBoxFor(model => model.Username, new { @class = "au-input au-input--full", @placeholder = "Nhập tên đăng nhập", @onfocus = "this.placeholder = ''", @onblur = "this.placeholder = 'Nhập tên đăng nhập'" })
	@Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
</div>
<div class="form-group">
	<label>Mật khẩu</label>
	@Html.TextBoxFor(model => model.Password, new { @type = "password", @class = "au-input au-input--full", @placeholder = "Nhập mật khẩu", @onfocus = "this.placeholder = ''", @onblur = "this.placeholder = 'Nhập mật khẩu'" })
	@Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
</div>
<div style="padding:5px 20px">
	@Html.ValidationSummary(true, "", new { @class = "text-danger" })
</div>
<div class="login-checkbox">
	<label>
		@Html.CheckBoxFor(model => model.RememberMe, new { @type = "checkbox", @id = "f-option2", @name = "remember" })
		<label for="f-option2">Duy trì đăng nhập</label>
	</label>
	<label>
		<a href="#">Quên mật khẩu?</a>
	</label>
</div>
<button class="au-btn au-btn--block au-btn--green m-b-20" type="submit">Đăng nhập</button>
