@using PagedList;
@using PagedList.Mvc;
@using ShoeShop.Models;
@model CategoryModel
<!-- Start Product List -->
<section class="lattest-product-area pb-40 category-list">
    <div class="row">
        @{
            foreach (var item in Model.ProductList)
            {
                <a href="/chi-tiet/@item.Metadata-@item.Id">
                    <div class="col-lg-4 col-md-6 col-sm-4 col-6">
                        <div class="single-product">
                            <img class="img-fluid" src="@item.Image_Thumbnail" alt="">
                            <div class="product-details s_product_text">
                                <h6 style="height: 60px">
                                    @item.Name
                                </h6>
                                <div class="price">
                                    <h6>@(item.Discount_Amount > 0 ? String.Format("{0:0,0}đ", item.Price * (100 - item.Discount_Amount) / 100) : String.Format("{0:0,0}đ", item.Price))</h6>
                                    <h6 class="l-through">@(item.Discount_Amount > 0 ? String.Format("{0:0,0}đ", item.Price) : null)</h6>
                                </div>
                                <div class="prd-bottom card_area">
                                    <a class="primary-btn" href="/them-gio-hang?productId=@item.Id&quantity=1">Thêm vào giỏ</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            }
        }
    </div>
</section>
<!-- Start Product List -->
<!-- Start Filter Bar -->
<div class="filter-bar d-flex flex-wrap align-items-center justify-content-end">
    @Html.PagedListPager((IPagedList)Model.ProductList, page => Url.Action("ProductList", new { brand = Model.Brand, style = Model.Style, minimumPrice = Model.MinimumPrice, maximumPrice = Model.MaximumPrice, page }))
</div>
<!-- End Filter Bar -->
<br />
<h4>@ViewBag.CategoryResultOverview</h4>

