
@model Model.EF.ADMIN

@{
	var defaultAvatar = Url.Content("~/Areas/Admin/Content/images/icon/avatar-01.jpg");
}

<div class="row form-group">
	<div class="col-12">
		<img class="rounded-circle customer_avatar" src="@(String.IsNullOrEmpty(Model.Avatar) ? defaultAvatar : Model.Avatar)" id="updateavatar_preview"/>
	</div>
</div>
<div class="row form-group">
	<div class="col-12">
		<label class=" form-control-label">Thay đổi ảnh đại diện</label>
		<input type="file" accept=".jpg, .png, .jpeg" class="form-control-file" id="updateavatar_img">
	</div>
</div>
<div class="row form-group">
	<div class="col-12">
		<a href="#" id="btnUploadUpdateAvatar" class="btn btn-success btn-sm">Tải ảnh lên</a>
	</div>
</div>
<div class="row form-group">
	<div class="col-12">
		@Html.TextBoxFor(model => model.Avatar, new { @class = "form-control", @readonly = "", @id = "updateavatar_base64", @hidden = "" })
	</div>
</div>
<div class="row form-group">
	<div class="col-12 col-md-6">
		<label class=" form-control-label">ID</label>
		@Html.TextBoxFor(model => model.Id, new { @class = "form-control", @readonly = "" })
	</div>
	<div class="col-12 col-md-6">
		<label class=" form-control-label">Tên đăng nhập</label>
		@Html.TextBoxFor(model => model.Username, new { @class = "form-control" })
		@Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
	</div>
</div>
<div class="row form-group">
	<div class="col-12 col-md-6">
		<label class=" form-control-label">Họ tên</label>
		@Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
		@Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
	</div>
	<div class="col-12 col-md-6">
		<label class=" form-control-label">Mật khẩu</label>
		@Html.TextBoxFor(model => model.Password, new { @class = "form-control", @type = "password" })
		@Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
	</div>
</div>
<div style="padding:5px 20px">
	@Html.ValidationSummary(true, "", new { @class = "text-danger" })
</div>
<div class="action_button_form">
	<button type="submit" class="btn btn-primary">
		<i class="zmdi zmdi-save"></i> Lưu thay đổi
	</button>
</div>
