@using Model.EF;
@model List<INVOICE>

@{
    if (Model.Count>0)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Created_Time.Value.ToString("dd/MM/yyyy HH:mm")</td>
                <td>@item.Customer_Name</td>
                <td>@item.Customer_Phone</td>
                <td>@String.Format("{0:0,0}đ", item.Total)</td>
                <td>
                    <label class="au-checkbox">
                        <input type="checkbox" id="checkStatus_@item.Id" class="checkStatus" checked="@(item.Status == 1 ? true : false)">
                        <span class="au-checkmark"></span>
                    </label>
                </td>
                <td> <a class="btn btn-link" href="@Url.Action("InvoiceDetail", "Admin/Invoice", new { idInvoice = item.Id })">Sửa</a></td>
            </tr>
        }
    }
    else
    {
        <br />
        <p>Không có đơn hàng!</p>
        <br />
    }
}

