@using PagedList;
@using PagedList.Mvc;
@using Model.EF;
@model IPagedList<PRODUCT>
@{
    ViewBag.Title = "Kết quả tìm kiếm";
}
<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Kết quả tìm kiếm</h1>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->
<section class="search_area section_gap">
    <div class="container">
        <div class="result_overview">
            <h4>@ViewBag.SearchResultOverview</h4>
            <hr />
        </div>
        <div class="result_list">
            <div class="row">
                @{
                    foreach (var item in Model)
                    {
                        <a href="/chi-tiet/@item.Metadata-@item.Id">
                            <div class="col-lg-3 col-md-4 col-6">
                                <div class="single-product">
                                    <img class="img-fluid" src="@item.Image_Thumbnail" alt="">
                                    <div class="product-details s_product_text">
                                        <h6 style="height: 60px">
                                            @item.Name
                                        </h6>
                                        <div class="price">
                                            <h6>@(item.Discount_Amount > 0 ? String.Format("{0:0,0}đ", item.Price * (100 - item.Discount_Amount) / 100) : String.Format("{0:0,0}đ", item.Price))</h6>
                                            <h6 class="l-through">@(item.Discount_Amount > 0 ? String.Format("{0:0,0}đ", item.Price) : null)</h6>
                                        </div>
                                        <div class="prd-bottom card_area">
                                            <a class="primary-btn" href="/them-gio-hang?productId=@item.Id&quantity=1">Thêm vào giỏ</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    }
                }
            </div>
        </div>
        <div class="filter-bar d-flex flex-wrap align-items-center justify-content-end">
            @Html.PagedListPager((IPagedList)Model, page => Url.Action("SearchResult", new { searchText = ViewBag.searchText, page }))
        </div>
</section>
